body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(238, 238, 240, 0.5), rgba(231, 231, 194, 0.5), rgba(157, 204, 156, 0.541));
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px; 
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    color: #000000;
}

textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1.5px solid #000000;
    border-radius: 10px;
    font-size: 12px;
    box-sizing: border-box;
}

.button-group1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color : #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

button:hover {
    background-color: #00b35a;
}

.image-container img {
    border: 1.5px #000000 solid;
    height: 100%;
}


.image-container-grafico {
    margin: 20px;
    width: 80%;

}

.image-container-texto {
    margin: 5px;
    width: 50%;
}

@media (max-width: 1000px) {

    .image-container-texto {
        flex-direction: column-reverse;
        width: auto;
    }
    .image-container-grafico {
        flex-direction: column-reverse;
        width: auto;
    }
    .body {
        padding: 10%;
        justify-content: center;
        padding: 5%;
        width: auto;
    }
}